<div id="<%= dom_id tool %>">
  <p>
    <strong>Toolname:</strong>
    <%= tool.toolname %>
  </p>

  <p>
    <strong>Fromdate:</strong>
    <%= tool.fromdate %>
  </p>

  <p>
    <strong>Todate:</strong>
    <%= tool.todate %>
  </p>

  <p>
    <strong>No tools:</strong>
    <%= tool.no_tools %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= tool.cost %>
  </p>

    <p>
    <strong>Location:</strong>
    <%= tool.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tool.user_id %>
  </p>

</div>
