<div class="container" style="margin-top:100px">
  <div class="row">
    <% @mytools.each do |tool| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #D6E6D6; max-width: 500px; margin: 0 auto;">
          <div class="card-body">
            <h3 class="card-title">
              <%= tool.toolname %>
            </h3>
            <p class="card-text"><strong>Available From:</strong>
              <%= tool.fromdate %>
            </p>
            <p class="card-text"><strong>Available Till:</strong>
              <%= tool.todate %>
            </p>
            <p class="card-text"><strong>Number of Tools:</strong>
              <%= tool.no_tools %>
            </p>
            <p class="card-text"><strong>Cost:</strong> ₹<%= tool.cost %>
            </p>
            <a href="<%= tool_path(tool) %>" class="btn btn-primary">Show this tool</a>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>