<div class="p-5 my-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5 px-5 my-2 my-form">
    <h1 class="display-5 fw-bold text-success text-center">Tool Details</h1>
    <h3 class="card-title">
      <%= @tool.toolname %>
    </h3>
    <p class="card-text"><strong>Available From:</strong>
      <%= @tool.fromdate %>
    </p>
    <p class="card-text"><strong>Available Till:</strong>
      <%= @tool.todate %>
    </p>
    <p class="card-text"><strong>Number of Tools:</strong>
      <%= @tool.no_tools %>
    </p>
    <p class="card-text"><strong>Cost:</strong> ₹<%= @tool.cost %>
    </p>
      <p class="card-text"><strong>Location:</strong> <%= @tool.location %>
        </p>

    <div>
      <%= link_to "Edit this tool" , edit_tool_path(@tool) ,class:'btn btn-primary'%>
        <%= button_to "Destroy this tool" , @tool, method: :delete,class:'btn btn-danger mt-1' %>
    </div>
  </div>
</div>