<div id="<%= dom_id notification %>">
  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= notification.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= notification.status %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= notification.task_id %>
  </p>

  <p>
    <strong>Tool:</strong>
    <%= notification.tool_id %>
  </p>

  <p>
    <strong>Requester:</strong>
    <%= notification.requester_id %>
  </p>

</div>
