
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fst-italic fs-4" href="/">
      <%= image_tag("leaf.png", class: 'd-inline-block align-text-top', style:
      'background-color: white; border-radius: 100px;') %> AgroKonnect
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fs-5">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
       <li class="nav-item dropdown fs-5">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/tools">Tools</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/tasks">Tasks</a></li>
            <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="/crops">Crops</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/seeds">Seeds</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown mt-2 fs-5">
          <form class="form-inline" id="my-form" action="/">
  <select name="Region" id="regionSelector" onchange="this.form.submit()" style="background-color:inherit;color:white;">
    <option selected class="reg-selector">Choose Location</option>
    <option class="reg-selector" value="Mandya">Mandya</option>
    <option class="reg-selector" value="Mysore">Mysore</option>
    <option class="reg-selector" value="Hubli">Hubli</option>
    <option class="reg-selector" value="Dharwad">Dharwad</option>
    <option class="reg-selector" value="Chikkamagaluru">Chikkamagaluru</option>
    <option class="reg-selector" value="Belgavi">Belgavi</option>
    <option class="reg-selector" value="Bellary">Bellary</option>
    <option class="reg-selector" value="Bidar">Bidar</option>
    <option class="reg-selector" value="Chitradurga">Chitradurga</option>
    <option class="reg-selector" value="Davangere">Davangere</option>
  </select>
  </form>
        </li>
          <li class="nav-item fs-5">
          <a class="nav-link active" aria-current="page" href="/trending">Trending</a>
        </li>
      </ul>
      <% if user_signed_in? %>
      <form class="d-flex" role="search" action="<%= search_results_path %>">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Enter keyword...."
          name="title"
          aria-label="Search"
        />
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active mx-2"
            aria-current="page"
            href="/notifications"
          >
            <button type="button" class="icon-button">
              <span class="material-icons" style="font-size: 35px">notifications</span>
            
              <span class="icon-button__badge"> <%=unread%></span>
              
            </button>
          </a>
        </li>

         <li class="nav-item">
          <a
            class="nav-link active mx-2"
            aria-current="page"
            href="/calendar"
          >
          <%= image_tag("calendar.png", style: 'width:30px;height:28px') %>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link active mx-2"
            aria-current="page"
            href="/message/index"
          >
            <%= image_tag("chat.png") %>
          </a>
        </li>

        <% if current_user.profile_picture.attached? %>
        <li class="nav-item">
          <a class="nav-link active mx-2" aria-current="page" href="/myprofile">
            <%= image_tag current_user.profile_picture, style:
            'width:32px;height:32px' %>
          </a>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to image_tag("profile-user.png"), myprofile_path, class:
          'nav-link active mx-2' %>
        </li>
        <% end %>
        <li class="nav-item">
          <button type="button" class="btn btn-danger m-1">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete,
            class: 'auth_btn' %>
          </button>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-primary m-1">
            <%= link_to 'Login', new_user_session_path, class: 'auth_btn' %>
          </button>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
