<hr/>
<h1 class="display-5 fw-bold text-success text-center"> News</h1>
<%= render 'home/info'%>
<hr/>
<h1 class="display-5 fw-bold text-success text-center"> Tools</h1>
<%= render 'home/tools'%>
<hr/>
<h1 class="display-5 fw-bold text-success text-center"> Tasks</h1>
<%= render 'home/tasks'%>
<hr/>
<h1 class="display-5 fw-bold text-success text-center">Seeds</h1>
<%= render 'home/seeds'%>
<hr/>
<h1 class="display-5 fw-bold text-success text-center">Crops</h1>
<%= render 'home/crops'%>

