<div id="<%= dom_id seed %>">
  <p>
    <strong>Name:</strong>
    <%= seed.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= seed.cost %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= seed.location %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= seed.weight %>
  </p>

  <p>
    <strong>User:</strong>
    <%= seed.user_id %>
  </p>

</div>
