
<div class="p-5 my-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5 px-5 my-2 my-form">
    <h1 class="display-5 fw-bold text-success text-center">Seed Details</h1>
    <h3 class="card-title">
      <%= @seed.name %>
    </h3>
    <p class="card-text"><strong>Weight:</strong>
      <%= @seed.weight %> kg
    </p>
    <p class="card-text"><strong>Location:</strong>
      <%= @seed.location %>
    </p>
    <p class="card-text"><strong>Cost:</strong>
    ₹<%= @seed.cost %>
    </p>
    
<div>
  <%= link_to "Edit this", edit_seed_path(@seed),class:'btn btn-primary' %>
  <%= button_to "Destroy this", @seed, method: :delete,class:'btn btn-danger mt-1' %>
</div>

</div>
</div>
