<div id="<%= dom_id crop %>">
  <p>
    <strong>Name:</strong>
    <%= crop.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= crop.cost %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= crop.location %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= crop.weight %>
  </p>

  <p>
    <strong>User:</strong>
    <%= crop.user_id %>
  </p>

</div>
