<div class="container" style="margin-top: 20px">

  <div class="row mt-2">
    <% @crops.each do |crop| %>
      <div class="col-md-12 mb-4">
      <div class="card border border-dark" style="background-color: #93ceb5; max-width: 700px; margin: 0 auto">
          <div class="card-body" style="min-height: 270px">
            <h3 class="card-title">
              <%= crop.name %>
            </h3>
            <p class="card-text">
              <strong>Owner:</strong>
              <%= @crops_usernames[crop.id] %>
            </p>
         
            
               <p class="card-text">
              <strong>Weight:</strong>
              <%= crop.weight %> kg
            </p>

                <p class="card-text">
              <strong>Location:</strong>
              <%= crop.location %>
            </p>

            <p class="card-text"><strong>Cost:</strong> ₹<%= crop.cost %>
            </p>
          
              <% if !(current_user.name==@crops_usernames[crop.id]) %>
                <%= form_with(model: @notification) do |form| %>
                  <% if @notification.errors.any? %>
                    <div style="color: red">
                      <h2>
                        <%= pluralize(@notification.errors.count, "error" ) %> prohibited
                          this notification from being saved:
                      </h2>

                      <ul>
                        <% @notification.errors.each do |error| %>
                          <li>
                            <%= error.full_message %>
                          </li>
                          <% end %>
                      </ul>
                    </div>
                    <% end %>
                      <%= form.hidden_field :user_id, value: crop.user_id %>
                        <%= form.hidden_field :content,
                          value: "#{current_user.name} has requested for the crop #{crop.name} you posted" %>
                          <%= form.hidden_field :status, value: "pending" %>
                            <%= form.hidden_field :task_id, value: "" %>
                              <%= form.hidden_field :crop_id, value: crop.id %>
                                <%= form.hidden_field :requester_id, value: current_user.id %>
                                  <div>
                                    <%= form.submit "Request" , class: 'btn btn-primary' %>
                                  </div>
                                  <% end %>
                                    <% end%>
                                  
          </div>
        </div>
      </div>
      <% end %>
      </div>
  </div>
</div>