
<div class="p-5 my-4 bg-body-tertiary rounded-3">
  <div class="trending container-fluid py-5 px-5 my-2 my-form shadow-md">

<%= render 'trending/news'%>
<%= render 'trending/tool'%>
<%= render 'trending/tasks'%>
<%= render 'trending/seeds'%>
<%= render 'trending/crops'%>


</div>
</div>




